<%= link_to('New Cocktail', new_cocktail_path, {id: "new-button"}) %>
<div class="cocktail_container">
  <h1>Our Cocktails</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>

    <%= link_to cocktail_path(cocktail) do  %>
    <div class="card">
      <%= cocktail.name %>
    </div>
    <% end %>

    <% end %>
  </div>
</div>
